/*
JAC - jdechalendar@stanford.edu
July 20, 2016
General formatting for glm-plotter app
*/

.col {
  width: 960px;
  /*margin: 0 auto;*/
  border: solid 1px #eee;
}

#main {
  position:relative;
  max-width: 1000px;
  display: block;
  padding: 0 10px;
  margin: 0 auto;
}

#fileChooser {
  margin: auto;
  width: 50%;

}

/* Legend */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
.legend .overhead { background-color: #999; }
.legend .underground { background-color: #00FF00; }
.legend .sw { background-color: #FF0000; }
.legend .reg { background-color: #0000FF; }
.legend .trans { background-color: #FFFF00; }

/* Footer */
#footer-wrap {
  font-size: 95%;
  padding: 20px 0;
}

#footer {
  clear: both;
  color: #666;  
  margin: 0 auto 10px auto; 
  width: 850px;
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid #F2F2F2;  
}